#main-heading {
    color: #5831c8;
    font-size: 72px;
    font-weight: bold;
}

body {
    background-color: #f3e9ff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 300x;
    height: 200px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;
}

.extra-important {
    color: #f0d6d3;
    border-left: #feefb3 5px solid;
}

a:hover,
a:active {
    background-color: rgb(250, 201, 39);
}


main {
    width: 700px;
    height: auto;
    border: 5px solid transparent;
    background-color: rgb(122, 74, 218);
    color: white;
    margin: 32px auto;
    text-align: left;
    border-radius: 10px;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #381550;
    background-color: #feefb3;
    border-radius: 5px;
    padding: 3px;
}

.pdf-summary {
    background-color:#f9c82e;
    border-radius: 5px;
    padding: 10px;
}

.pdf-summary:hover{
    background-color:  #feefb3;
}